<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Page</title>
</head>
<body>
    <form action="">
        <input type="text" id="msg">
        <input type="button" value="Send" id="sendBtn" onclick="sendMsg()">
    </form>
    
    <p>Msg b/w {{currUserName}} and {{friendUserName}}</p>
    {{!-- <p>{{room}}</p> --}}

    <div id="msgPage">
        {{#each messageContentArr}}
            <p>{{.}}</p>
        {{/each}}
    </div>

    <script>
        const room = "{{room}}"
        const currId = "{{currId}}", friendId = "{{friendId}}"
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
</body>
</html>